@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* White */
  --background-end-rgb: 255, 0, 0; /* Red */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  position: relative;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body::before {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  );
  z-index: 1;
}

body::after {
  background-image: url('https://ipfs.io/ipfs/Qmf3tmSuhwLuWLMAo2W1oYMt4raiQd8wiUKbLEaVXQLY6K'); /* Your image path */
  background-size: cover; /* Make the image cover the entire container */
  z-index: -1; /* Ensure the image is behind other content */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.custom-gap > * {
  margin-right: 1rem; /* Adjust as needed */
}

.custom-gap > *:last-child {
  margin-right: 0; /* Reset margin for the last element */
}

.footer .container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Adjust the margin between sections */
.footer .container > div {
  margin-bottom: 1rem; /* Adjust as needed */
}

/* Reset margin for the last section */
.footer .container > div:last-child {
  margin-bottom: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scrolling {
  display: inline-block;
  animation: scroll 10s linear infinite;
}
